.home-link {
  font-size: 1rem;
  text-decoration: none;
  display: block;
  text-align: right;
  padding: 0.2rem 0.3rem;
}

.not-found {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}
